@import 'bulma/css/bulma.css';

:root {
    --ui-show-duration: 250ms;
    --ui-hide-duration: var(--ui-show-duration);
}

#ui-root {
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    z-index: 2;
}

#ui-root > section > * {
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

#ui-root.inactive {
    display: none;
}

#model-root {
    z-index: 1;
    transition: var(--ui-hide-duration) filter linear;
}

#model-root * {
    width: 100% !important;
    height: 100% !important;
}

#model-root.inactive {
    filter: blur(2px);
}

.vrm-upload-box {
    aspect-ratio: 1/1;
    cursor: pointer;
}


.vrm-upload-box * {
    pointer-events: none;
}

.vrm-file-dialog {
    display: none;
}

.dragged-into {
    outline: 3px dashed hsl(217, 71%, 53%);
}