@import url("./boilerplate.css");
@import url("./theme.scss");

@function var-or($name) {
	@return var(--#{$name}, --#{$name}-default);
}

@function t-props($prop-name, $duration-var-name, $easing-var-name) {
	@return #{$prop-name} var-or($duration-var-name) var-or($easing-var-name);
}

.stack {
	position: relative;
}

.stack > * {
	position: absolute;
}

.dashboard {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.dashboard > * {
	flex-grow: 1;
	margin: 100px;
}
