:root {
	font-family: "Sora";

	/* BEGIN palette */
	--palette-neutral-light: #f5efff;
	--palette-neutral-dark: #5e5e5e;
	--palette-light: var(--palette-neutral-light);
	--palette-dark: var(--palette-neutral-dark);
	--palette-accent: #7371fc;
	--palette-accept: #48e5c2;
	--palette-deny: #ed254e;
	/* END palette */

	/* Defaults used extensively throughout. */
	--nb-border-radius: 10px;
	--nb-border-width: 2px;
	--nb-shadow-offset: calc(var(--nb-border-width) * 1.5);
	--nb-shadow-color: var(--palette-dark);

	/* Defaults for cards. */
	--nb-card-border-radius: var(--nb-border-radius);
	--nb-card-border-width: var(--nb-border-width);
	--nb-card-border-color: var(--palette-dark);
	--nb-card-background: var(--palette-light);
	--nb-card-shadow-offset: var(--nb-shadow-offset);
	--nb-card-shadow-background: var(--palette-dark);
	--nb-card-border-color: var(--palette-dark);

	/* Defaults for progress bars*/
	--nb-progress-shadow-color: var(--nb-shadow-color);
	--nb-progress-border-width: var(--nb-border-width);
	--nb-progress-border-color: var(--palette-dark);
	--nb-progress-max-color: var(--palette-light);
	--nb-progress-value-color: var(--palette-accent);
	--nb-progress-shadow-offset: var(--nb-shadow-offset);
}

.nb-card {
	position: relative;
}

.nb-card > .nb-card-body {
	background: var(--nb-card-background);
	width: 100%;
	height: 100%;

	transition: translate 0.1s ease-in-out;
}

.nb-card.nb-card-border > .nb-card-body {
	border: var(--nb-card-border-width) solid var(--nb-card-border-color);
}

.nb-card.nb-card-shadow::after {
	content: "";
	inset: 0;
	position: absolute;
	z-index: -1;

	background: var(--nb-card-shadow-background);
	translate: var(--nb-card-shadow-offset) var(--nb-card-shadow-offset);
}

.nb-card.nb-card-press > .nb-card-body {
	translate: var(--nb-card-shadow-offset) var(--nb-card-shadow-offset);
}

.nb-card.nb-card-round::after, .nb-card.nb-card-round > .nb-card-body {
	border-radius: var(--nb-card-border-radius);
}

.nb-card > .nb-card-body > progress.nb-progress {
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: none;
	width: 100%;
	display: block;

	&::-webkit-progress-value, &::-moz-progress-bar {
		background: var(--nb-progress-value-color);
		border-right: var(--nb-progress-border-width) solid
			var(--nb-progress-border-color);
	}
}
